<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.ytreeeeeeeeeeee.skyworthvrplugin.manifest">
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-feature android:name="android.software.vr.mode" android:required="true" />

  <application android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
    <activity
      android:name="com.unity3d.player.UnityPlayerActivity"
      tools:node="remove" />

    <activity
      android:name="com.ytreeeeeeeeeeee.skyworthvrplugin.SkyworthUnityActivity"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      android:screenOrientation="portrait"
      android:launchMode="singleTask"
      android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode|mcc|mnc|locale|touchscreen|smallestScreenSize|layoutDirection|fontScale|density"
      android:resizeableActivity="false"
      android:exported="true"
      android:enableVrMode="${applicationId}/com.ssnwt.sdk.VrListener">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <meta-data android:name="IMMERSIVE_MODE" android:value="true" />
    <meta-data android:name="com.softwinner.vr.mode" android:value="vr" />
    <service
      android:name="com.ssnwt.sdk.VrListener"
      android:exported="false"
      android:permission="android.permission.BIND_VR_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.vr.VrListenerService" />
      </intent-filter>
    </service>
  </application>
</manifest>
